.container input {
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
}
.container button{
    padding: 10px 20px;
    color: white;
    background-color: #2b2eff;
    border-radius: 8px;
}



.paginationBttns{
    height: 40px;
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: center;
}
.paginationBttns a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
}
.paginationBttns a:hover{
    color: white;
    background-color: #2b2eff;
}
.paginationActive a{
    color: white;
    background-color: #2b2eff;
}